
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.avatar-list {
	width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
.cropper-container {
	max-width: 450px!important;
    height: 450px!important;
    overflow: hidden!important;
    object-fit: cover!important;
	img {
		max-width: 450px!important;
	    height: 450px!important;
	    overflow: hidden!important;
	    object-fit: cover!important;
	}
}
